{% extends "base.html" %}
{% block header_subtitle %}New product{% endblock %}

{% block content %}
<div class="container py-4">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Product</button>
    <a href="{% url 'products:home' %}" class="btn btn-dark">Back</a>
</form>

{#  <div class="card h-100 position-relative">#}
{#    <div class="row g-10">#}
{#      <div class="col-md-5">#}
{#        <img class="img-fluid w-100 h-100"#}
{#             style="object-fit: cover;"#}
{#             src="#"#}
{#             alt="Add photo here">#}
{#      </div>#}
{##}
{#      <div class="col-md-7">#}
{#        <div class="card-body position-sticky">#}
{#          <h3 class="card-title fw-bolder">Name: {{ product.name }}</h3>#}
{#          <p class="card-text text-muted mb-2">Description: {{ product.description }}</p>#}
{#          <div class="text-muted small mb-2">Quantity: {{ product.stock_quantity }}</div>#}
{#          <div class="text-muted small mb-2">Category: {{ product.category }}</div>#}
{#            <span class="fw-bold fs-5">${{ product.price }}</span>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="px-3 pb-3 pt-2 d-flex justify-content-center gap-2">#}
{#      <a class="btn btn-sm btn-outline-primary" href="#">Create</a>#}
{#      <a class="btn btn-sm btn-outline-dark" href="{% url 'products:home' %}">Back</a>#}
{#    </div>#}
{##}
{#  </div>#}
</div>

{% endblock %}